# 构建产物
build/

# 文档/设计稿
docs/
*.dll
*.exe
*.pdb
*.ilk
*.exp
*.lib
*.obj

# IDE
.vs/
*.sln
*.vcxproj*
*.filters
*.user
*.suo

# 配置
SausageMan_Config.ini

# vendor（三方库，不跟踪）
vendor/imgui/
!DUMP/
DUMP/*
!DUMP/dump.cs